$navbar-default-bg: #03031a;

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "bootstrap/variables";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.article-action{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding: 15px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  background-color: #f5f5f5;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer p{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}